[build]
command = "npm install && npm run build"
publish = "dist"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[context.production.environment]
VITE_API_URL = "https://studygroup-kpd4.onrender.com/api"
VITE_GOOGLE_CLIENT_ID = "393347327727-r426598q1u50ffdjg9r6hoiq8n0mcik0.apps.googleusercontent.com"
VITE_GOOGLE_API_KEY = "AIzaSyAR3SkjKaX-MMHnL43FI_YIsi7RWMzR6ks"
