@import "tailwindcss";

@theme {
  --color-maroon: #800000;
  --color-gold: #FFD700;
}

.bg-wmsu {
  background-image: url('/wmsu-bg-img.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

html, body {
  overflow-y: hidden;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;    
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;  
}

